@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
   width: 8px;
}
::-webkit-scrollbar-x {
   width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #00668a;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: rgba(101, 101, 101, 0.39);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #555;
}
